<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header">
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> </a> <span>{{ page.title }}{{ post.title }}</span>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
       
		{% for page in site.html_pages %}
		    {% if page.nav-menu == true %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
</nav>
